<% include header %>

<div class = "container">
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-10 shadow pl-0 pr-0">
			<div id="demo" class="carousel slide" data-ride="carousel">

			  <!-- The slideshow -->
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/images/undersideboat.jpg" alt="Los Angeles" class="mx-auto">
			      <div class="carousel-caption d-none d-md-block">
				    <h4>Complete Interior and Exterior Detailing!</h4>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <img src="/images/afterheadlight.jpg" alt="Chicago">
			      <div class="carousel-caption d-none d-md-block">
				    <h4>Cars, Trucks, and Boats</h4>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <img src="/images/beforeHeadlight.jpg" alt="New York">
			    </div>
			  </div>

			  <!-- Left and right controls -->
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			  </a>

			</div>
		</div>
		<div class="col-lg-1">
		</div>
	</div>

	<div class="row">
		<h2 class="mx-auto"> ABOUT</h2>
	</div>
	<div class="row">
			<div class="col-lg-6">
				<p id="aboutPara">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
		
			</div>
			<div class="col-lg-6">
				<img id="idapic"  src= "/images/IDA.jpg">
			</div>
	</div>
</div>


<% include footer %>