<% include header %>

<div class="container-fluid">

	<div class="row" >

		<div class="col-lg-3"></div>
		<div class="col-lg-6 col-sm-12">
			<img class="mx-auto d-block shadow-sm" id="servicesimg" src="/images/redback.JPG"> 
		</div>
		<div class="col-lg-3"></div>
	</div>
	<div class="row" >
		<div class="col-lg-12">
			<h2 class="mx-auto">Services</h2>
		</div>
	</div>
	<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="col-lg-8">
				<div class="jumbotron shadow-sm">
					<ul >
						<li> Services include Menzerna, P21S and other high quality products.</li>
						<li>All exterior detailing services receive: 
							<ul>
								<li> Full service hand wash/chamois dry</li>
								<li>Cleaning of wheels/wheel wells</li>
								<li>Tar, bug, and grime removal</li>
								<li>Clay bar application</li>
								<li>Exterior rubber trim and tire dressing and conditioning</li>
							</ul>
						</li>
						<li>All interior detailing services receive: 
							<ul>
								<li>Complete air purging and vacuuming.</li>
								<li>All windows cleaned to perfection.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="mr-auto">Exterior Services</h3>
		</div>
	<</div>
	<div class="row">
		
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header bg-dark">Polymer Sealant</div>
			
				<div class="card-body">
					<p> Our long-term paint protection service is for people who plan to keep 	their cars for a long time and want long-term pint protection.Out paint sealnt would be used in place of wax and actually bonds an invisible shield of polymer protection that will protect your car from the environmental elements and the suns damaging ultraviolet rays through a process called molecular cross linking. Your cars paint will be protected fro up to a year.</p>
	   			 </div> 
   			 </div>
		</div>
		
		<div class="col-lg-4">
			<div class="card shadow-sm">
				<div class="card-header bg-dark">Blue Lustre II</div>
			
				<div class="card-body">
					<p> Our two-step Blue Lustre II polishing service is intended to correct minor to medium paint imperfections like light scratches and oxidation. Your car is first professionally machine buffed through our exclusive swirl free foam pad buffing process which uses special polishes, glazes, with resins to restore the paint to close to its original beauty.Our Cherry Wax is amchine applied to seal in the protection and leave a brilliant shine.</p>
	   			 </div> 
   			 </div>
		</div>

	</div>
</div>



<% include footer%>