#nav-logo{

	margin-left: 1em;
	height:75px;
	
}

.nav{

	margin-right: 75px;

}
#nav-link-fix{
	color: #ffffff;
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
}
.navbar{

	padding-bottom: 1px;
	padding-top: 1px;
	

}


.navbar-nav{

	margin-right: 25px;

}

body{
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.jumbotron{

	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 0em;
}
.jumbotron h1{

	text-align: center;
}

#about-text{
	
	text-align: jusitfy;
}
form{

	margin-bottom: 3em;

}
footer{

	background-color: #343a40;
	color: white;
	margin-top: 50px;
}
small{

		margin-left: 45px;
	}
h2{

	margin-top: 60px;
	margin-bottom: 40px;
	
	border-bottom: 2px solid #21a4f3;
	text-align: center;
  
}
h3{
	margin-left: 45px;
	text-align: center;
}
.btn{

	background-color: #21a4f3;
}
.display-flex-flex-wrap-wrap{
		display:flex; 
		flex-wrap:wrap;
}

.carousel-inner .carousel-item img{

	width: 100%;
	
	margin: auto;
	
}

#idapic{

	
	width: 100%;	
	
	
}
.jumboimg{


	width: 325px;
	margin-top: 40px;
}
#home-headline{

	text-align: center;
}
.jumbo-btn{

	margin-bottom: 60px;
}
#servicesimg{
	margin-top: 40px;
	width: 100%;
	height: 100%;
}
.card-header{

	color: white;

}